body {
    background-color: beige;
    color:rgb(65, 63, 63)
}

h1 {
    color: rgb(134, 70, 27);
}

h2 {
    color: rgb(134, 70, 27);
}

fieldset {
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
}