.principal {
    width: 40vw;
    margin-left: 30vw;
}

body {
    font-family: "Iosevka Charon", monospace;
    background-color: bisque;
}

.menu {
    position: fixed;
    display: block;
}

h2 {
    margin-bottom: 1.4vw;
    color: rgb(109, 65, 211);
}

h1 {
    margin-bottom: 1.4vw;
    color: rgb(109, 65, 211);
    margin-left: 10vw;
}

p {
    color: rgb(19, 114, 0);
    margin-left: -2vw;
}

.fim {
    margin-bottom: 3vw;
}

.menu * {
    margin-top: 1vw;
    margin-left: 1vw;
    background-color: rgb(23, 16, 90);
    color: rgb(71, 226, 50);
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    transition: 0.5s;
}

a:hover {
    background-color: rgb(158, 158, 248);
    opacity: 0.7; 
}

a:active {
    opacity: 0.3;
}


html { 
    scroll-behavior: smooth; 
}